<h3>Documentation</h3>
<ul class="uk-list uk-list-large uk-margin-medium-bottom">
    <li><a href="#">Admin panel</a></li>
    <li><a href="#">Ekla Drive</a></li>
    <li><a class="uk-text-bold" href="#">Ekla Ride</a> <span uk-icon="icon: chevron-right"></span></li>
</ul>
<!--
<h3>Ekla Drive</h3>
<ul class="uk-list uk-list-large">
    <li><a href="article.html">Setting up attributes</a></li>
    <li><a href="article.html">Shipping Options Page</a></li>
    <li><a href="article.html">Extensions Setup</a></li>
    <li><a href="article.html">Shipping Methods</a></li>
    <li><a href="article.html">Tips and Tricks</a></li>
    <li><a href="article.html">Troubleshooting Site</a></li>
    <li><a href="article.html">Video Tutorials</a></li>
</ul>

<h3>Ekla Ride</h3>
<ul class="uk-list uk-list-large">
    <li><a href="article.html">Setting up attributes</a></li>
    <li><a href="article.html">Shipping Options Page</a></li>
    <li><a href="article.html">Extensions Setup</a></li>
    <li><a href="article.html">Shipping Methods</a></li>
    <li><a href="article.html">Tips and Tricks</a></li>
    <li><a href="article.html">Troubleshooting Site</a></li>
    <li><a href="article.html">Video Tutorials</a></li>
</ul>-->