<footer id="footer" class="uk-section uk-margin-remove uk-section-xsmall uk-text-small uk-text-muted border-top">
    <div class="uk-container">
        <div class="uk-child-width-1-2@m uk-text-center" uk-grid>
            <div class="uk-text-right@m">
                <a href="https://www.linkedin.com/company/56440233/" class="uk-icon-link uk-margin-small-right" uk-icon="icon: linkedin"></a>
                <a href="https://www.facebook.com/eklaride" class="uk-icon-link uk-margin-small-right" uk-icon="icon: facebook"></a>
                <a href="https://www.instagram.com/eklaride/" class="uk-icon-link uk-margin-small-right" uk-icon="icon: instagram"></a>
                <a href="https://twitter.com/EklaRide" class="uk-icon-link uk-margin-small-right" uk-icon="icon: twitter"></a>
                <a href="https://www.youtube.com/channel/UCN5VDc_Np5LmDY8xAjw1a6A" class="uk-icon-link uk-margin-small-right" uk-icon="icon: youtube"></a>
            </div>
            <div class="uk-flex-first@m uk-text-left@m">
                <p class="uk-text-small">Copyright 2020 Powered by <a href="http://transtelecom.ci/" target="_blank">Transtelecom Inc.</a></p>
            </div>
        </div>
    </div>
</footer>