<div id="offcanvas" uk-offcanvas="flip: true; overlay: true">
    <div class="uk-offcanvas-bar">
        <a class="uk-margin-small-bottom uk-logo uk-text-uppercase" href="index.html"><span class="uk-margin-small-right" uk-icon="icon: lifesaver"></span> Knowledge</a>
        <ul class="uk-nav uk-nav-default uk-text-uppercase">
            <li><a href="index.html">Accueil</a></li>
            <li class="uk-parent">
                <a href="#">Documentation</a>
                    <ul class="uk-nav-sub">
                        <li><a href="admin-panel-categorie.html">Admin panel</a></li>
                        <li><a href="ekla-drive-categorie.html">Ekla Drive</a></li>
                        <li><a href="ekla-ride-categorie.html">Ekla Ride</a></li>
                    </ul>
            </li>
            <li><a href="faq.html">Faq</a></li>
        </ul>
        <a href="contact.html" class="uk-button uk-button-small uk-button-default uk-width-1-1 uk-margin">Support</a>
        <div class="uk-width-auto uk-text-center">
            <a href="https://www.facebook.com/eklaride" class="uk-icon-link uk-margin-small-right" uk-icon="icon: facebook"></a>
            <a href="https://www.linkedin.com/company/56440233" class="uk-icon-link uk-margin-small-right" uk-icon="icon: linkedin"></a>
            <a href="https://twitter.com/EklaRide" class="uk-icon-link uk-margin-small-right" uk-icon="icon: twitter"></a>
            <a href="https://www.instagram.com/eklaride/" class="uk-icon-link uk-margin-small-right" uk-icon="icon: instagram"></a>
        </div>
    </div>
</div>