<div class="uk-container hero">
    <h1 class="uk-heading-primary uk-text-center uk-margin-large-top uk-light">Create a Knowledge Base with Ease</h1>
    <p class="uk-text-lead uk-text-center uk-light">Lead volutpat nibh ligula gravida. Magna auctor eget venenatis phasellus luctus sodales pulvinar</p>
    <div class="uk-flex uk-flex-center">
        <form class="uk-margin-medium-top uk-margin-xlarge-bottom uk-search uk-search-default">
            <a href="#" class="uk-search-icon-flip" uk-search-icon></a>
            <input id="autocomplete" class="uk-search-input uk-form-large" type="search" autocomplete="off" name="s" placeholder="Enter search term here">
        </form>
    </div>
</div>