<div class="uk-container hero">
    <h1 class="uk-heading-primary uk-text-center uk-margin-large-top uk-light">Guide d'utilisation des services Ekla</h1>
    <p class="uk-text-lead uk-text-center uk-light">Ce guide d'utilisation couvre la documentation sur l'ensemble des services Ekla <br/> (Ekla Ride, Ekla Drive et le panel d'administration)</p>
    <div class="uk-flex uk-flex-center">
        <form class="uk-margin-medium-top uk-margin-xlarge-bottom uk-search uk-search-default">
            <a href="#" class="uk-search-icon-flip" uk-search-icon></a>
            <input id="autocomplete" class="uk-search-input uk-form-large" type="search" autocomplete="off" name="s" placeholder="Entrez le terme de recherche ici">
        </form>
    </div>
</div>